<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap"
          rel="stylesheet">
    <link href="../static/css/saved_new_author.css" th:href="@{/css/saved_new_author.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">
    <div class="section_header">
        <form id="edit_form" th:method="POST" th:action="@{/authorsSave}" th:object="${author}">
            <h2 class="section_title">Add new author:</h2>

            <div class="row">
                <label for="holder-input">Title:</label>
                <input class="row_s" id="holder-input" name="title" type="text" th:field="*{name}"
                       placeholder="new name author"/>
            </div>

            <div class="btn_save_back">
                <button class="btn_save" type="submit">Save</button>
                <a class="btn" th:href="@{/(id=${author.id})}" href="list_authors.html">back</a>
            </div>

        </form>
    </div>
</div>
</body>

</html>