<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap"
          rel="stylesheet">
    <link href="../static/css/saved_new.css" th:href="@{/css/saved_new.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">
    <div class="section_header">
        <form id="edit_form" action="saved_new.html" >
            <h2 class="section_title">Add new book:</h2>

            <div class="row">
                <label for="holder-input">Title:</label>
                <input class="row_s" id="holder-input" name="title" type="text" th:value="${book.title}"   placeholder="new title of book"/>
            </div>

            <div class="row">
                <label for="price-input">Price:</label>
                <input class="row_s" id="price-input" name="price" type="text"  th:value="${book.price}"  placeholder="new price of book"/>
            </div>

<!--            <div class="row">-->
<!--                <label for="author-input">Author:</label>-->
<!--                <input class="row_s" id="author-input" name="author.name" type="text" th:value="${book.author.name}" placeholder="author"/>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <label for="genre-input">Genre:</label>-->
<!--                <input class="row_s" id="genre-input" name="genre.name" type="text" th:value="${book.genre.name}" placeholder="genre"/>-->
<!--            </div>-->


            <div class="select_author">
                <label >Authors:</label>
                <select class="form-control" name="select_author" th:field="${authors}"  id="chooseAuthor">
                    <option value="0">select author of book</option>
                    <option th:each="author : ${authors}"
                            th:value="${author.id}"
                            th:text="${author.name}"></option>
                </select>
            </div>

            <div class="select_genre">
                <label>Genre:</label>
                <select class="form-control" name="select_genre" th:field="${genres}"  id="chooseGenre">
                    <option value="0">select author of book</option>
                    <option th:each="genre : ${genres}"
                            th:value="${genre.id}"
                            th:text="${genre.name}"></option>
                </select>
            </div>


            <div class="btn_save_back">
                <button class="btn_save" type="submit">Save</button>
<!--                <a class="btn" th:href="@{/(id=${book.id})}" href="list.html">back</a>-->
            </div>

        </form>



    </div>



</div>




</body>

</html>